# PostgreSQL
POSTGRES_USER=palmpadel
POSTGRES_PASSWORD=palmpadel
POSTGRES_DB=palmpadel
NODE_ENV=development

AUTH_SECRET="AUTH_SECRET" # Added by `npx auth`. Read more: https://cli.authjs.dev
DATABASE_URL="postgresql://palmpadel:palmpadel@db:5432/palmpadel?schema=public"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOSTS="http://localhost:3000"
AUTH_URL="http://localhost:3000"

R2_ACCOUNT_ID="R2_ACCOUNT_ID"
R2_ACCESS_KEY_ID="R2_ACCESS_KEY_ID"
R2_SECRET_ACCESS_KEY="R2_SECRET_ACCESS_KEY"
R2_TOKEN_VALUE="R2_TOKEN_VALUE"
R2_BUCKET_NAME="R2_BUCKET_NAME"
R2_PUBLIC_URL="R2_PUBLIC_URL"


# Midtrans Payment Gateway
MIDTRANS_CLIENT_KEY="Mid-client-Key"
MIDTRANS_SERVER_KEY="Mid-server-Key"
MIDTRANS_MERCHANT_ID="M841637331"
MIDTRANS_IS_PRODUCTION="false"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="Mid-client-Key"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"


GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000/api/auth/callback/google"

# ceedf5e147cb9cf2fd086fcef6b17777 - access key ID
# 6d3840ed985a6e8d41a416d6ffca47debe3645348e3b5dcb6df1a99c1f8bee98 - secret access key