# PostgreSQL
POSTGRES_USER=palmpadel
POSTGRES_PASSWORD=palmpadel
POSTGRES_DB=palmpadel
NODE_ENV=development

AUTH_SECRET="auth_-secret" # Added by `npx auth`. Read more: https://cli.authjs.dev
DATABASE_URL="postgresql://palmpadel:palmpadel@db:5432/palmpadel?schema=public"

R2_ACCOUNT_ID="r2-account-id"
R2_ACCESS_KEY_ID="r2-access-key-id"
R2_SECRET_ACCESS_KEY="r2-secret-access-key"
R2_TOKEN_VALUE="r2-token-value"
R2_BUCKET_NAME="r2-bucket-name"
R2_PUBLIC_URL="r2-public-url"


# Midtrans Payment Gateway
MIDTRANS_CLIENT_KEY="Mid-client-key"
MIDTRANS_SERVER_KEY="Mid-server-key"
MIDTRANS_MERCHANT_ID="merchant-id"
MIDTRANS_IS_PRODUCTION="false"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="Mid-client-key"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"


GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000/api/auth/callback/google"

# ceedf5e147cb9cf2fd086fcef6b17777 - access key ID
# 6d3840ed985a6e8d41a416d6ffca47debe3645348e3b5dcb6df1a99c1f8bee98 - secret access key